[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/bgfx"]
	path = lib/bgfx
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/toml"]
	path = lib/toml
	url = https://github.com/marzer/tomlplusplus/
